@font-face {
  font-family: 'ColaborateLight';
  src: url('../fonts/Colaborate/colablig-webfont.eot');
  src: url('../fonts/Colaborate/colablig-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Colaborate/colablig-webfont.woff') format('woff'), url('../fonts/Colaborate/colablig-webfont.ttf') format('truetype'), url('../fonts/Colaborate/colablig-webfont.svg#ColaborateLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ---- ELEMENTS GENERAUX ---- */
body {
  background: url("../images/background.png") repeat;
}
.green {
  color: #67b013;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
strong {
  font-weight: 700;
}
/* ---- BACK TO TOP ---- */
#back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
#back-to-top a {
  display: block;
  width: 49px;
  height: 49px;
  background: url("../images/top-button.png") no-repeat;
  background-position: 0px 0px;
}
#back-to-top a:hover {
  background-position: 0px -49px;
}
/* ---- HEADER ---- */
header {
  width: 900px;
  margin: auto;
  background-color: #FFF;
}
header #title {
  padding: 14px 0px 14px 25px;
}
header #title .logo {
  float: left;
}
header #title .blog-title {
  font-family: 'Droid sans', Arial, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  color: #656464;
  position: relative;
  top: 30px;
  left: 15px;
}
header #menu {
  font-family: 'Droid sans', Arial, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  border-top: solid #efeeef 1px;
}
header #menu li {
  float: left;
  padding: 0;
  margin: 0;
}
header #menu li a {
  display: block;
  color: #656464;
  text-decoration: none;
  text-align: center;
  border-right: solid #efeeef 1px;
  height: 43px;
  overflow: hidden;
}
header #menu li a:hover,
header #menu li a.active {
  border-top: solid #67b013 3px;
  height: 40px;
}
header #menu li a span {
  display: block;
  padding: 13px 30px;
}
header #menu li a span.hover {
  color: #FFF;
  background-color: #67b013;
}
/* ---- HOME ---- */
section.slider {
  width: 900px;
  margin: auto;
}
section.slider .bx-viewport {
  border: none;
  box-shadow: none;
  left: 0px;
  margin-top: 40px;
}
section.content {
  font-family: 'Droid sans', Arial, sans-serif;
  color: #656464;
  font-size: 13px;
  line-height: 18px;
  width: 900px;
  margin: auto;
}
section.content #about {
  width: 625px;
  height: 238px;
  background-color: #FFF;
  margin: 25px 0;
}
section.content #last-articles {
  background-color: #FFF;
  margin: 25px auto;
}
section.content #last-articles article {
  width: 400px;
}
section.content #last-articles article a {
  text-decoration: none;
  color: #656464;
  /*-webkit-transition: color 0.3s ease;
					-o-transition: color 0.3s ease;
					-moz-transition: color 0.3s ease;*/

}
section.content #last-articles article a:hover {
  color: #67b013;
}
section.content #last-articles article figcaption {
  width: 150px;
  height: 99px;
  background: transparent;
  position: absolute;
}
section.content #last-articles article figcaption p {
  color: white;
  text-align: center;
  padding: 30px 0px;
  display: none;
}
section.content #last-articles article figcaption p span.day {
  font-size: 22px;
}
section.content #last-articles article figcaption p span.month {
  font-size: 18px;
}
section.content #last-articles div {
  float: right;
}
section.content h2 {
  padding: 20px 20px 0 20px;
}
section.content article {
  padding: 20px;
}
section.content article img {
  float: left;
  padding-right: 15px;
}
section.content article h3 {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}
/* ---- ASIDE ---- */
section.content aside {
  width: 245px;
  float: right;
}
section.content aside div {
  margin-bottom: 10px;
}
section.content aside form .placeholder {
  margin-bottom: 9px;
  width: 215px;
}
section.content aside form .placeholder input {
  width: 233px;
  height: 20px;
}
section.content aside form input[type="submit"] {
  width: 33px;
  height: 24px;
  position: absolute;
  left: 212px;
  background: url("../images/search-button.png");
  border: 1px solid #67b013;
  cursor: pointer;
}
section.content aside form input[type="submit"]:hover {
  background: url("../images/search-button-hover.png");
}
section.content aside #citation {
  background: white;
  height: 100px;
}
section.content aside #citation #quote-left {
  font-size: 72px;
  position: relative;
  left: 15px;
  top: 20px;
}
section.content aside #citation #quote-right {
  font-size: 72px;
  float: right;
  position: relative;
  right: 15px;
  bottom: 25px;
}
section.content aside #citation #citation-content div {
  width: 130px;
  height: 50px;
  position: relative;
  left: 60px;
  top: 0px;
}
section.content aside #citation #citation-content div .green {
  text-align: right;
  padding-top: 3px;
}
section.content aside #newsletter {
  background: white;
  height: 95px;
}
section.content aside #newsletter h3 {
  font-weight: 700;
  padding: 21px 15px 8px 15px;
}
section.content aside #newsletter form {
  padding: 0 15px 15px 15px;
}
section.content aside #newsletter form .placeholder {
  width: 180px;
}
section.content aside #newsletter form .placeholder input {
  width: 201px;
  height: 20px;
}
section.content aside #newsletter form .placeholder span.error {
  position: absolute;
  display: block;
  padding: 3px;
  color: #de1b1b;
  font-size: 12px;
}
section.content aside #newsletter form input[type="submit"] {
  width: 33px;
  height: 24px;
  position: absolute;
  left: 180px;
  background: url("../images/ok-button.png");
  border: 1px solid #67b013;
  cursor: pointer;
}
section.content aside #newsletter form input[type="submit"]:hover {
  background: url("../images/ok-button-hover.png");
}
/* ---- ARTICLES ---- */
section.article {
  width: 625px;
  margin: 25px 0;
  background-color: #FFF;
  position: relative;
}
section.article article .date {
  width: 47px;
  height: 45px;
  background-color: #67b013;
  color: #FFF;
  text-align: center;
  padding-top: 5px;
  position: absolute;
  top: 8px;
  left: 0;
}
section.article article .date .day {
  font-size: 19px;
}
section.article article .date .month {
  font-size: 15px;
}
section.article article h3 {
  font-size: 19px;
  padding-left: 35px;
  margin-bottom: 20px;
}
section.article article p {
  min-height: 150px;
}
section.article article p span {
  margin-left: 10px;
  float: right;
}
section.article article img {
  margin-bottom: 6px;
}
/* ---- FORM ---- */
section#contact-form {
  display: none;
  font-family: 'Droid sans', Arial, sans-serif;
  color: #656464;
  font-size: 13px;
  line-height: 18px;
  width: 600px;
}
section#contact-form h2 {
  padding: 20px 0 0 150px;
  font-size: 18px;
  font-weight: 700;
}
section#contact-form p {
  padding: 20px 0 10px 150px;
}
section#contact-form form {
  width: 305px;
  padding: 20px 0 30px 0;
  margin: auto;
}
section#contact-form form .placeholder {
  margin-bottom: 30px;
  width: 305px;
  position: relative;
  background: white;
}
section#contact-form form .placeholder.textarea {
  height: 150px;
}
section#contact-form form .placeholder.textarea textarea {
  font-family: 'Droid sans', Arial, sans-serif;
  width: 300px;
  height: 144px;
  padding: 6px 0 0 5px;
  border: 1px solid #67b013;
}
section#contact-form form .placeholder input {
  width: 300px;
  height: 30px;
  padding: 0 0 0 5px;
  border: 1px solid #67b013;
  background: transparent;
  position: relative;
  left: 0;
  top: 0;
}
section#contact-form form .placeholder label {
  display: block;
  position: absolute;
  left: 6px;
  top: 8px;
  color: #656464;
}
section#contact-form form .placeholder span.error {
  position: absolute;
  display: block;
  padding: 3px;
  color: #de1b1b;
  font-size: 12px;
}
section#contact-form form input[type="submit"],
section#contact-form form input[type="reset"] {
  width: 90px;
  height: 30px;
  margin-top: 10px;
  background: white;
  color: #67b013;
  border: 1px solid #67b013;
  cursor: pointer;
}
section#contact-form form input[type="submit"]:hover,
section#contact-form form input[type="reset"]:hover {
  background: #67b013;
  color: white;
}
section#contact-form form input[type="submit"] {
  margin-left: 10px;
}
section aside .bar .placeholder {
  margin-bottom: 15px;
  position: relative;
  background: white;
}
section aside .bar .placeholder input {
  padding: 1px 5px;
  border: 1px solid #67b013;
  background: transparent;
  position: relative;
  left: 0;
  top: 0;
}
section aside .bar .placeholder label {
  display: block;
  position: absolute;
  left: 6px;
  top: 4px;
  color: silver;
}
/* ---- FOOTER ---- */
footer {
  background-color: #292929;
}
footer #footer {
  width: 900px;
  margin: auto;
  padding-top: 30px;
  color: #a9a9a9;
  font-size: 14px;
  font-family: 'ColaborateLight', Arial, sans-serif;
}
footer #footer #categories {
  float: left;
  margin-right: 50px;
}
footer #footer #contact {
  float: left;
}
footer #footer h6 {
  font-family: 'Droid sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
}
footer #footer a {
  color: #a9a9a9;
  text-decoration: underline;
}
footer #footer #twitter {
  width: 440px;
  float: left;
  margin-left: 150px;
}
footer #footer #twitter img {
  float: left;
}
footer #footer #twitter div {
  width: 150px;
  float: left;
  margin-left: 30px;
}
footer #footer #twitter div p {
  padding-top: 10px;
}
footer #footer #twitter div a {
  color: #67b013;
  text-decoration: none;
}
footer #footer .credits {
  padding: 45px 0px 20px 0px;
}
footer #footer .credits p {
  text-align: center;
}
